* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #868686;
}

body {
    background-color: #131313;
}

.wrapper {
    width: 70%;
    height: 100vh;
    margin-left: 14%;
    position: relative;
}

.addTodo {
    color: #131313;
}

input:checked + label{
    background-color: aquamarine;
}