* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f1dcc9;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.hidden {
  display: none !important;
}

body {
  background-color: #131313;
}

.wrapper {
  width: 70%;
  margin-left: 14%;
  position: relative;
}

header {
  height: 80px;
}

.header__title {
  font-size: 55px;
  font-weight: bold;
  color: #e7cab7;
  margin: 20px 0 0 0;
  text-align: center;
}

.main_addTodoArea {
  position: relative;
  padding: 10px 10px 10px 2%;

  background-color: #9f4636;

  border: 1px solid rgb(92, 88, 88);
  border-radius: 10px;
}

.addTodoArea__newTodo {
  width: 80%;
  height: 40px;

  background: transparent;
  border: none;
}

.addTodoArea__newTodo:focus {
  outline: none;
}

.addTodoArea__addTodo {
  width: 12%;
  min-width: 70px;

  position: absolute;
  top: 11px;
  left: 85%;

  font-weight: bold;
  font-size: 25px;
}

.button {
  padding: 2px 5px;

  color: #f1dcc9;
  background-color: #42313a;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;

  border: 2px solid rgb(228, 228, 228);
}

.main_filter {
  display: flex;

  height: 58px;

  position: relative;
  margin: 20px 0 5px 0;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;

  background-color: #6c2d2c;

  border: 1px solid rgb(92, 88, 88);
  border-radius: 10px;
}

.current_filter {
  background-color: #77596a;
  border: 4px solid rgb(34, 34, 34);
}

.main_filter .counter {
  padding-top: 5px;
  margin-left: -20px;
}

.main_todoList {
  background-color: #6c2d2c;

  border-top: none;
}

li {
  display: flex;
  position: relative;

  padding: 10px 10px 10px 10px;

  border-bottom: 1px solid black;
}

li:nth-child(odd) {
  background-color: #572f33;
}

input:checked + div {
  text-decoration: line-through;
  opacity: 0.3;
}

.todoList__todoText {
  background-color: transparent;
  width: 80%;
  margin-left: 40px;
  word-wrap: break-word;
}

.todotxt_edit {
  width: 100%;
  background: transparent;
  border: none;
}

.todotxt_edit:focus {
  outline: none;
}

.todoList__deleteBtn {
  height: 32px;
  width: 32px;

  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 20px;

  justify-content: center;
  text-align: center;
}

li:last-child {
  border-bottom: 0px solid black;
}

.todoList__checkbox {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  margin-top: -10px;

  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .wrapper {
    width: 85%;
    margin-left: 7.5%;
  }
}

@media screen and (max-width: 950px) {
  .wrapper {
    width: 95%;
    margin-left: 2.5%;
  }
}
